<template>
  <div class="Authentification">
    <div>Ceci est la page Authentification</div>

    <div class="d-flex"></div>

    <v-card>
      <v-avatar class="ma-4" v-if="$app.USERavatarURL">
        <v-img :src="$app.USERavatarURL" />
      </v-avatar>
      <div>
        <strong> DiscordTag :</strong> {{ $app.USERusername }}#{{
          $app.USERdiscriminator
        }}
      </div>
      <div><strong> Email :</strong> {{ $app.USERemail }}</div>
    </v-card>
  </div>
</template>

<script>
export default {

  name: "Authentification",
  icon: "account",
  url: "/auth",
  data() {
    return {
      authorization_code: undefined,
    };
  },
  async mounted() {
    //Authentification en passant par la page d'authentification (suiste a une redirection discord en theorie)
    let loadUser = async () => {
      await this.$app.API.discord.exchangeCode(this.$route.query.code);
      let user = await this.$app.getUser();
      if (!user) return;
      if (user.username) this.$app.setUser(user);
    };
    loadUser();
  },
  methods: {},
};
</script>
