<template>
<div>
  <div class="Blog d-flex justify-center">
    <h1>ARTICLES</h1>
  </div>
    <div class="d-flex flex-wrap justify-center">
    
    <v-progress-circular
      v-show="!articles"
      indeterminate
      color="accent"
    ></v-progress-circular>
    
    <o-article v-for="article in articles" :article="article" :key="article.id"></o-article>

    <v-tooltip left>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          v-on="on"
          v-show="expandCount"
          app
          fab
          id="CloseAll"
          height="3em"
          width="3em"
          transition="fade"
        >
          <v-icon @click="closeAll">mdi-close</v-icon>
        </v-btn>
      </template>
      <span>Close all</span>
    </v-tooltip>
  </div>
</div>
</template>

<script>
import OArticle from "../components/OArticle.vue";

export default {
  name: "Blog",
  icon: "newspaper",
  url: "/blog",


  
  components: { OArticle },

  data() {
    return {
      articles: undefined,
      expandCount: 0,
    };
  },
  methods: {
    closeAll() {
      for (let i in this.$children) {
        this.$children[i].expand = false;
      }
      this.expandCount = 0;
    },
  },

  async mounted() {
    this.articles = await this.$app.API.postGeekingTime.get( "/wp-json/wp/v2/posts/" );
  },
};
</script>
<style>
@keyframes close {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.7);
  }

  45% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}

#CloseAll:hover {
  animation-name: close;
  animation-duration: 1s;
}

#CloseAll {
  position: fixed;
  top: 6em;
  right: 1em;
  background-color: var(--v-primary-lighten1);
}
</style>
