<template>
  <div class="Bot">
    <div>Ceci est la page du Bot</div>
    <div>./views/Bot.vue</div>
  </div>
</template>

<script>

export default {
  name: 'Bot',
  icon:'robot'
  
    
}

</script>
