<template>
  <div class="Classement">
    <div>Ceci est la page Classement</div>
    <code>path : ./views/Classement.vue</code>
  </div>
</template>

<script>

export default {
  name: "Classement",
  icon: "trophy",
};
</script>
