<template>
  <v-card class="Equipes">
    <h1>Equipes</h1><v-btn fab tile @click="fetchTeams"><v-icon>mdi-refresh</v-icon></v-btn>
    
    
    <div v-if="teams">

      <v-card v-for="team in teams" :key="team.name">
        <h1>{{team.name}}</h1>
      </v-card>
    </div>


  </v-card>
</template>

<script>


export default {
  name: 'Equipes',
  icon:"account-group",
  data(){


    return{
      teams: undefined
      }
  },
  
  methods:{
    async fetchTeams(){
      // https://developer.mozilla.org/fr/docs/Web/API/Fetch_API/Using_Fetch
      var myHeaders = new Headers();

      var myInit = { method: 'GET',
               headers: myHeaders,
               mode: 'cors',
               cache: 'default' };
               
      await fetch("https://playallforone.com/api/teams", myInit)
        .then(async (data)=> {
            this.teams = await data.json()
          }
        )
      }
  },
  
}

</script>
