
<template>
  <div class="Home">
    <div>
      <o-twitch twitchChannel="overwatchleague" />
      <!-- <o-youtube/> -->
    </div>
    <v-card class="pa-4">
      <v-img class="ma-4" :src="$app.logoURL" width="10em" style="float: left" />
      {{ content }}
    </v-card>
  </div>
</template>


<script>
import OTwitch from "../components/OTwitch.vue";
// import OYoutube from "../components/OYoutube.vue";
// import OCalendar from "../components/OCalendar.vue";
// import OExpandableCard from "../components/OExpandableCard.vue";

export default {
  name: "Home",
  icon: "home",
  url: "/",
  navBar: false,
  components: {
    OTwitch,
    // OYoutube,
    // OCalendar,
    // OExpandableCard,
  },

  data: () => ({
    expand: false,
    expand2: false,
    content: `L’association AllForOne représente, gère et coordonne les activités eSport des clubs
visés à l’article 4 et à l’article 5. Elle est garante des intérêts de l’eSport, veille au respect, par
l’ensemble des personnes physiques et morales participant à ces activités, des dispositions
législatives et réglementaires applicables en matière sportive, et assure l’application du
présent règlement. Les organes de AllForOne vérifient notamment le respect, par les clubs,
des conditions fixées pour prendre part aux compétitions qu’elle organise. Ils veillent
également au respect, par les dirigeants des clubs, et par les personnes placées sous leur
autorité, du présent règlement. AllForOne est une ligue eSport autour du jeu Overwatch. Elle
a pour objectif d’animer et de fédérer les clubs participants tout au long de l’année en
proposant un système de championnat par divisions incluant des matchs hebdomadaires et
ce, combinés à des rendez-vous incontournables.`,
  }),
};
</script>

<style>
.Home {
  height: 100%;
  width: 100%;
  margin: auto;
}
</style>