<template>
  <div class="Organisation">
    <div>Ceci est la page de l'Organisation</div>
    <div>./views/Organisation.vue</div>
  </div>
</template>

<script>

export default {
  name: 'Organisation',
  icon:"account-group",
  navBar:false,
    
}

</script>
