<template>
  <v-card class="Participer ma-2 elevation-15" :width="$app.screen" min-width="370" max-width="720">
    <h1 class="mx-2 d-flex justify-center">Inscription</h1>
    <v-expand-transition>
      <div v-if="!registerTeam && !registerSolo" transition="fade">
        <v-img :width="$app.screen-50" min-width="350" max-width="700" max-height="250" src="https://www.aorus.com/images/team/Chiefs/team_Chiefs.png"></v-img>
        <v-card-title>Inscris toi pour vivre une competition à ta hauteur !</v-card-title>
      </div>
    </v-expand-transition>

    
    <v-card-actions class="justify-center">
      <v-btn class="ma-2" color="secondary" :outlined="!registerTeam" @click="registerTeam = !registerTeam;registerSolo = false">Inscription Team</v-btn>
      <v-btn class="ma-2" color="secondary" :outlined="!registerSolo" @click="registerSolo = !registerSolo;registerTeam = false">Inscription Solo</v-btn>
    </v-card-actions>
        <v-divider v-show="registerTeam||registerSolo" class="secondary"/>

      <v-expand-transition>
        <o-form-team v-show="registerTeam"/>
      </v-expand-transition>
      
      <v-expand-transition>
        <o-form-solo v-show="registerSolo"/>
      </v-expand-transition>


  </v-card>
</template>

<script>
import OFormTeam from "../components/OFormTeam.vue";
import OFormSolo from "../components/OFormSolo.vue";

export default {
  name: "Participer",
  icon: "gamepad",

  components: {
    OFormTeam,
    OFormSolo,
  },
  
  data: function () {
    return {
      registerTeam: false,
      registerSolo: false,
    };
  },
};
</script>
<style>
.Participer {
  transition: 0.5s ease-in-out;
}
</style>

