<template>
  <div class="Recherche">
    <div>Ceci est la page de Recherche</div>
    <div>./views/Recherche.vue</div>
  </div>
</template>

<script>

export default {
  name: 'Recherche',
  icon:"magnify",
  navBar:false,
}

</script>
