<template>
  <div class="Soutien">
    <div>Ceci est la page de Soutien</div>
    <div>./views/Soutien.vue</div>
  </div>
</template>

<script>

export default {
  name: 'Soutien',
  icon:"heart",
  navBar:false,
}

</script>
