<template>
  <div class="UserParameters d-flex flex-wrap">
    <v-avatar size="150" class="ma-4" v-if="$app.USERavatarURL">
      <v-img :src="$app.USERavatarURL" />
    </v-avatar>
    <v-icon v-else>mdi-account</v-icon>

    <div class="d-flex flex-wrap align-start">
      
      <o-expandable-card title="Info générales" color="primary">
        <div>
          <strong> OlympeTag :</strong> {{ $app.USERusername }}#{{
            $app.USERdiscriminator
          }}
        </div>
        <div><strong> Email :</strong> {{ $app.USERemail }}</div>
        <div><strong> Password :</strong> {{ "********" }}</div>
        <div><strong> Pays :</strong> {{ "France" }}</div>
      </o-expandable-card>

      <o-expandable-card title="Comptes Tiers" color="primary">
        <div class="d-flex flex-column align-start">
        <o-system-account
          v-for="account in tierAccount"
          :key="account.label"
          :account="account"

        >        </o-system-account>
</div>
       
      </o-expandable-card>

      <o-expandable-card title="Confidentialité" color="primary">
        <div class="d-flex align-center">
          <strong> Compte public :</strong>
          <v-switch
            dense
            class="ml-2"
            color="secondary"
            value="true"
          ></v-switch>
        </div>
        <div class="d-flex align-center">
          <strong> Comptes Tiers public :</strong>
          <v-switch
            dense
            class="ml-2"
            color="secondary"
            value="true"
          ></v-switch>
        </div>
        <div class="d-flex align-center">
          <strong> Email Public :</strong>
          <v-switch
            dense
            class="ml-2"
            color="secondary"
            value="true"
          ></v-switch>
        </div>
      </o-expandable-card>
    </div>
  </div>
</template>

<script>
import OExpandableCard from "../components/OExpandableCard.vue";
import OSystemAccount from "../components/OSystemAccount.vue";

export default {
  name: "Paramètres utilisateur",
  icon: "cog",
  url: "/userparameters",
  components: { OExpandableCard, OSystemAccount },
  data() {
    return {
      mouseOver: false,
      authorization_code: undefined,
      tierAccount: [
        { label: "Discord", icon: "mdi-discord", content: "", color:"#7289da" },
        { label: "Google", icon: "mdi-google", content: "", color:"#4285F4" },
        { label: "Twitter", icon: "mdi-twitter", content: "", color:"#1DA1F2" },
        { label: "Twitch", icon: "mdi-twitch", content: "", color:"#6441a5" },
        { label: "Instagram", icon: "mdi-instagram", content: ""},
        { label: "Youtube", icon: "mdi-youtube", content: "", color:"#FF0000" },
        { label: "Facebook", icon: "mdi-facebook", content: "", color:"#4267B2" },
        { label: "Steam", icon: "mdi-steam", content: "" },
        { label: "EpicGame", icon: "mdi-alpha-e-box-outline", content: "" },
        { label: "Linkedin", icon: "mdi-linkedin", content: "", color:"#2867B2" },
      ],
    };
  },
  mounted() {},
  methods: {},
};
</script>
