<template>
    <div class="Brush d-flex flex-wrap">

      <!--Couleur du theme Color-->
      <v-card >
        <div>
        <h3>Couleurs</h3>
        <v-switch color="secondary" v-model="$vuetify.theme.dark" prepend-icon="mdi-theme-light-dark" :label="theme"></v-switch>
        </div>
        
        <div class="ma-auto d-flex flex-wrap">
          <v-menu v-for="(value, index) in $vuetify.theme.themes.dark" offset-y :key="index" :close-on-content-click="false">
            <template v-slot:activator="{ on, attrs }">
              <v-btn class="ma-1" width="8em" dense :color="getColor(index)" v-bind="attrs" v-on="on"><div><div>{{index}}</div><h6>{{theme}}</h6></div></v-btn>
            </template>
            <v-color-picker mode="hexa" :value="getColor(index)" @update:color="setColor(index, $event.hex)" light></v-color-picker>
          </v-menu>
        </div>
      </v-card>
    
      <v-card>
        <h3>Theme</h3>
        
        <v-select width="95%" clearable @change="importTheme" color="secondary" :items="listTheme" label="Choisi un theme"/>

        <div>
          <v-btn class="ma-1" @click="importTheme">Importer</v-btn>
          <v-btn class="ma-1" @click="exportTheme">Exporter</v-btn>
        </div>
      
        <v-card v-if="themeJson" transition="slide-y-reverse-transition">{{themeJson}}</v-card>
        <v-text-field v-else transition="slide-y-reverse-transition" v-model="importJson"/>
      </v-card>
        


    </div>
</template>

<script>
export default {
      name: "Brush",
      icon: "palette",


  data() {
    return {

      themeJson : undefined,
      importJson : undefined,
      colorPicker: undefined,
    };
  },
  
  methods:{
    getColor(themeElement){
      if (this.$vuetify.theme.isDark) return this.$vuetify.theme.themes.dark[themeElement];
        return this.$vuetify.theme.themes.light[themeElement];
    },
    
    setColor(themeElement,color){
      if (this.$vuetify.theme.isDark) return (this.$vuetify.theme.themes.dark[themeElement] = color);
        this.$vuetify.theme.themes.light[themeElement] = color;
    },
    
    importTheme(loadTheme=false){
      this.themeJson = undefined
      let json
      
      if(this.importJson) json = JSON.parse(this.importJson)
      
      if(loadTheme)json = this.$app.THEMES[loadTheme]
      
        for (let theme in json){
          for (let ii in json[theme]){
            let color = json[theme][ii]
            let target = this.$vuetify.theme.themes[theme]
            if(target){
              target[ii] = color;
            }else{
              this.$app[theme] = json[theme]
            }
          }
        }
      
      this.importJson = undefined
    },
    
    exportTheme(){
        this.importJson = undefined
        this.themeJson = JSON.stringify(this.$vuetify.theme.themes);
    },
  },
  
  computed:{
    theme(){
      if (this.$vuetify.theme.isDark)return "Dark theme"
      return "Light theme"
    },
      
    listTheme(){
      let liste = Object.keys(this.$app.THEMES)
      // this.$app.THEMES.forEach((value, index)=>{liste.push(index)})
      
      return liste
    }
    
    
    
  },

 
};
</script>

<style>

/*.Brush > div > div.ma-auto{*/
/*  width: 95%;*/
/*}*/
/* .Buush
  width: 99%;
  height: 35em;
  color: red;
  margin-right: auto;
  margin-left: auto;
} */
</style>

