<template>
  <div class="AdminWebHook">
      <o-admin-data-collection dataCollection="WEBHOOKS" :dataEntries="['name', 'postURL']"/>
  </div>
</template>

<script>

import OAdminDataCollection from "./OAdminDataCollection.vue";

export default {
  components:{
    OAdminDataCollection
  },
  name: "WebHook",
  icon: "webhook",
};
</script>

<style>

</style>

