<template>
  <div class="AdminAPI">
      <o-admin-data-collection dataCollection="API" :dataEntries="['name', 'url', 'port', 'header', 'query']"/>
  </div>
</template>

<script>

import OAdminDataCollection from "./OAdminDataCollection.vue";

export default {
  components:{
    OAdminDataCollection
  },
  name: "API",
  icon: "api",
};
</script>

<style>

</style>