<template>
  <div class="ma-3 pa-3 Notification">
    <div class="notifTextField mt-4" margin="1em">
      <v-text-field color="secondary" counter="20" clearable dense v-model="notifTitle" label="Titre"></v-text-field>
      <v-text-field color="secondary" clearable dense v-model="notifMessage" label="Message"></v-text-field>

      <v-menu transition="slide-x-transition" open-on-hover top offset-x>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="ma-2 mt-0" size="1em" dense v-bind="attrs" v-on="on">Timer : {{notifTimer}}s</v-btn>
        </template>

        <v-list class="ma-0 pa-0">
          <div v-for="value in [0, 10, 20]" @click="notifTimer=value" :key="value">
            <v-list-item width="2em" class="ma-auto">{{value}}</v-list-item>
          </div>
        </v-list>
      </v-menu>

      <v-menu transition="slide-x-transition" open-on-hover top offset-x>
        <template v-slot:activator="{ on, attrs }">
          <v-btn class="ma-2 mt-0" :color="notifType" size="1em" dense v-bind="attrs" v-on="on">type</v-btn>
        </template>

        <v-list class="ma-0 pa-0">
          <div v-for="value in authorizedNotif" @click="notifType=value.name" :key="value.name">
            <v-alert width="8em" tile dense class="ma-0" :type="value.name">{{value.name}}</v-alert>
          </div>
        </v-list>
      </v-menu>
    </div>

    <v-divider class="my-2"></v-divider>

    <v-btn class="ma-1 ml-0" @click="notifTest">Voir</v-btn>
    <v-btn class="ma-1 ml-0" disabled @click="notifTest">Destinataire(s)</v-btn>
    <v-btn class="ma-1 ml-0" disabled @click="notifTest">Programmer</v-btn>
    <!-- <SystemNotif :type="notifType" :title="notifTitle" :message="notifMessage" width="70%" height="10em" /> -->
  </div>
</template>

<script>

export default {
  name: "Notification",
  icon: "bell",

  data() {
    return {
      notifType: "success",
      notifTitle: "Titre du message", //TODO limiter à 20 caractères
      notifMessage: "message de test",
      notifTimer: 0,
      authorizedNotif: [
        { icon: "mdi-alert", name: "error" },
        { icon: "mdi-exclamation", name: "warning" },
        { icon: "mdi-information", name: "info" },
        { icon: "mdi-check-circle", name: "success" },
      ],
    };
  },
  computed: {
    notifData: {
      get() {
        return { type: this.notifType, message: this.notifMessage };
      },
      set(message, type) {
        this.notifType = type;
        this.notifMessage = message;

        return { message, type };
      },
    },
  },

  methods: {
    notifTest() {
      this.$app.notif({
        title: this.notifTitle,
        message: this.notifMessage,
        type: this.notifType,
        timer: this.notifTimer,
      }); //envoie l'evenement au parent
    },
  },
};
</script>

<style>
.notifTextField {
  vertical-align: middle;
}
</style>

