<template>
  <div class="AdminWebHook">
    <div class="PanelHeader d-flex flex-wrap align-center">
      <v-icon size="2.25em" @click="search=!search">mdi-magnify</v-icon>
      <v-text-field
        v-show="search"
        dense
        hide-details
        solo-inverted
        flat
        class="mx-2"
        color="secondary"
        v-model="filter"
        label="Rechercher"
      />
      <v-chip
        class="ma-1"
        :color="data.active != false ? 'secondary' : 'grey'"
        v-for="(data, index) in dataList"
        :key="index"
        @click="focus = data"
      >
        <div>{{index}}</div>
      </v-chip>

      <v-chip pill class="ma-1 secondary" key="ajouter" color="secondary">
        <v-icon @click="dataAdd">mdi-plus</v-icon>
      </v-chip>
    </div>

    <v-divider v-show="focus" class="my-1" />

    <v-card v-show="focus" width="98%">
      <div class="dataMenu">
        <v-icon v-show="modif" class="buttonSave mx-1" @click="dataSave">mdi-zip-disk</v-icon>
        <v-icon class="buttonDelete mx-1" @click="datadel">mdi-delete</v-icon>
        <!-- <v-switch color="secondary ma-0 pa-0" v-model="focus.active" hide-details /> -->
      </div>

      <div class="d-inline-flex">
        <div>
          <v-text-field
            class="ma-2 d-flex"
            style="width:15em;"
            dense
            flat
            prepend-inner-icon="mdi-magnify"
            v-model="searchTree"
            label="Recherche"
            solo-inverted
            hide-details
            clearable
          ></v-text-field>

          <v-treeview open-on-click :search="searchTree" :items="treeview">
            <template v-slot:label="{ item }">
              <div class="d-inline-flex align-center" @input="checkFocus(item.id)">
                <strong
                  style="color: var(--v-secondary-base)"
                >{{item.name + ((item.content !='objet' ||item.content !='function') ? ' :' : '')}}</strong>
                <div v-if="item.editable == 'object'" />
                <v-text-field
                  v-else-if="item.path.includes('component')"
                  disabled
                  color="secondary"
                  class="ml-2"
                  dense
                  hide-details
                  outlined
                  :placeholder="item.content"
                  :key="item.id"
                  append-icon="mdi-lock"
                /><v-text-field
                  v-else-if="item.editable == 'string'"
                  color="secondary"
                  class="ml-2"
                  dense
                  outlined
                  hide-details
                  v-model="listFocus[item.id].content"
                  :key="item.id"
                />
                <v-switch
                  v-else-if="item.editable == 'boolean'"
                  class="ml-3"
                  dense
                  @change="checkFocus(item.id)"
                  color="secondary ma-0 pa-0"
                  v-model="listFocus[item.id].content"
                />
                
                <v-text-field
                  v-else
                  color="secondary"
                  class="ml-2"
                  dense
                  outlined
                  hide-details
                  v-model="listFocus[item.id].content"
                  :key="item.id"
                />
                <v-icon
                  v-if="item.editable != 'object' && item.modif"
                  class="buttonSave mx-1"
                  @click="dataSave(item.id)"
                >mdi-zip-disk</v-icon>
              </div>
            </template>
          </v-treeview>
        </div>
      </div>
    </v-card>
  </div>
</template>


<script>
export default {
  name: "Data",
  icon: "cloud",

  props: {
    dataCollection: {
      default: "",
      type: String,
      required: true,
    },

    dataEntries: {
      default() {
        [];
      },
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      focus: false,
      modif: false,
      search: false,
      filter: undefined,
      searchTree: undefined,
      listFocus: {},
    };
  },

  methods: {
    datadel() {
      delete this.$app[this.dataCollection][this.focus.id];
      this.focus = false;
    },

    dataAdd() {
      this.focus = { active: true };
    },

    checkFocus(id) {
      let target = this.focus,
        path = this.listFocus[id].path.split(".");
      path.pop();
      for (let x in path) {
        target = target[path[x]];
      }

      if (target[this.listFocus[id].name] !== this.listFocus[id].content)
        return (this.modif = true);
      this.modif = false;
    },

    dataSave() {
      let dataSave = (id) => {
        let target = this.focus,
          path = this.listFocus[id].path.split(".");
        path.pop();

        if (
          path.includes("component") ||
          this.listFocus[id].name == "component"
        )
          return;

        for (let x in path) {
          target = target[path[x]];
        }
        target[this.listFocus[id].name] = this.listFocus[id].content;
      };

      for (let i in this.listFocus) {
        dataSave(i);
      }
      this.modif = false;
      this.$app.notif("Sauvegarde faite");
    },
  },

  computed: {
    dataList() {
      this.focus;
      let result = {};
      for (let i in this.$app[this.dataCollection]) {
        if (
          this.filter &&
          !this.$app[this.dataCollection][i].id.includes(this.filter)
        )
          continue;
        result[i] = this.$app[this.dataCollection][i];
      }
      return result;
    },

    treeview() {
      let id = 0;

      let treeObject = (index, objet, path) => {
        let name,
          children,
          content,
          editable = typeof objet;

        if (typeof objet == "object") {
          children = [];
          content = undefined;
          for (let x in objet) {
            children.push(treeObject(x, objet[x], `${path}.${x}`));
          }
        } else {
          if (typeof objet == "function") {
            // editable = false;
            content = "FUNCTION";
          } else {
            content = objet;
          }
        }
        id++;
        name = index;
        this.listFocus[id] = { name, content, path };
        return { id, name, content, children, editable, path };
      };

      let result = [];
      for (let i in this.focus) {
        result.push(treeObject(i, this.focus[i], i));
      }
      return result;
    },
  },
};
</script>

<style>
.dataMenu {
  position: absolute;
  top: 0.6em;
  right: .4em;
}
</style>