<template>
  <div class="AdminAllData">
        <v-select class="ma-3"  clearable @change="selectData" color="secondary" :items="items" label="Quel donnée"/>
      <o-admin-data-collection v-show="dataBase" :dataCollection="dataBase" :dataEntries="entries"/>
  </div>
</template>

<script>

import OAdminDataCollection from "./OAdminDataCollection.vue";

export default {
  components:{
    OAdminDataCollection
  },
  name: "Données",
  icon: "server",
  data(){
    return{
      items:["API","WEBHOOKS","PAGES","THEMES", "COUNTRY", "ROUTES","NAVBAR","DATA"],
      dataBase:undefined,
      entries:undefined
    }
  },
  methods:{
    selectData(event){
      this.dataBase=event
      this.$children[1].focus = false
      this.entries=Object.keys(this.$app[this.dataBase][Object.keys(this.$app[this.dataBase])[0]])
    }
  }
};
</script>

<style>

</style>

