<template>
    <div>
      <v-system-bar id="systemBar" app window class="adminMenu secondary">
        <v-tooltip bottom v-for="(mod, index) in MODULES" :key="mod.component=index">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-if="mod.icon"
              size="1em"
              dense
              icon
              @click="adminMenu=mod"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-{{mod.icon}}</v-icon>
            </v-btn>
          </template>
          <span>{{mod.name}}</span>
        </v-tooltip>
    
      </v-system-bar>
      
      
      <v-navigation-drawer
        v-model="adminMenu"
        width="50%"
        bottom
        app
        disable-resize-watcher
        disable-route-watcher >
        <div class="d-flex ma-2">
          <v-icon class="mr-2">mdi-{{adminMenu.icon}}</v-icon>
          <h2>{{adminMenu.name}}</h2>
          <v-icon class="ml-auto" @click="adminMenu=false">mdi-close</v-icon>
        </div>
        <v-divider />
        <div class="d-flex justify-center">
          <component class="AdminPanel" :is="adminMenu.component"></component>
        </div>
        <v-divider />
      </v-navigation-drawer>
    
    
    </div>

</template>
<script>
// import OSystemUserButton from '../components/OSystemUserButton.vue'
import OTranslateButton from "../components/OTranslateButton.vue";
import OAdminBrush from "./OAdminBrush.vue";
import OAdminNotification from "./OAdminNotification.vue";
// import OAdminWebhook from "./OAdminWebhook.vue";
// import OAdminAPI from "./OAdminAPI.vue";
import OCalendar from "../components/OCalendar.vue";
// import OAdminDataCollection from "./OAdminDataCollection.vue";
import OAdminAllData from "./OAdminAllData.vue";

let components = {
    // OAdminDataCollection,
    OAdminAllData,
    OCalendar,
    OAdminBrush,
    OAdminNotification,
    // OAdminWebhook,
    // OSystemUserButton,
    OTranslateButton,
    // OAdminAPI,
  }

export default{
  name:"AdminPanel",
  components,

  data(){   
    return{
      adminMenu: false,
      MODULES: components,
    }
  }
    
}


</script>

<style>
  
.AdminPanel{
   min-width: 300px!important;
   margin: 0px;
   padding: 0px;
}

.PanelHeader{
   margin: 8px;
   padding: 8px;
}

.AdminPanel .v-card{
   /* max-width: 600px!important; */
   margin: 8px;
   padding: 8px;
}

/*.adminMenu{*/
/*height:3em*/
/*}*/

</style>