<template>
    <div :class="name">
            <div v-html="style"/>

            <div>PATH :<input secondary v-model="dataType" type="text"/><v-btn :loading="!data" @click="refresh"><v-icon >mdi-refresh</v-icon></v-btn></div>
    
            <v-container class="grey lighten-5" v-if="data">

                <v-row class="pa-4" justify="space-between" >
    
                    <v-col cols="5">
                        <v-virtual-scroll
                            
                            :items="items"
                            :item-height="50"
                            height="300"
                            width="600"
                        >
                            <template v-slot="{ item }">
                                <v-list-item>
                                    <v-list-item-avatar>
                                        <v-avatar
                                            :color="item.color"
                                            size="50"
                                            class="white--text"
                                        >
                                            <img :v-if="item.iconURL" :src="item.iconURL"/>
                                            <img :v-if="item.avatarURL" :src="item.avatarURL"/>
                                        </v-avatar>
                                    </v-list-item-avatar>
    
                                    <v-list-item-content>
    
                                        <v-list-item-title :v-if="item.name">{{ item.name }}</v-list-item-title>
                                        <v-list-item-title :v-if="item.tag">{{ item.tag }}</v-list-item-title>
                                    
                                    </v-list-item-content>
    
                                    <v-btn small @click="show(item)" fab><v-icon>mdi-eye</v-icon></v-btn>
                                
                                </v-list-item>
                            </template>
                        </v-virtual-scroll>
                    </v-col>
    
    
                    <v-divider vertical></v-divider>
    
    
                    <v-col class="d-flex text-center" >
                        
                        <div v-if="showed" ><Data :type="dataType" :json="showed"/></div>
    
                    </v-col>
    
                </v-row>
    
            </v-container>
          <v-progress-circular indeterminate v-else />

      
          </div>
</template>

<script>
import Data from './Data.vue'
import GLOBAL from '../GLOBAL.js'

export default {
  name: 'DataList',
  components: {
    Data
  },
  props: {
        json: { default: null, type: Object }
    },

  data() {
        return {
            dataType: "guilds",
            data: this.json,
            showed:null,
            style:`<style type="text/css">

              .InfinityScroll.col-5{
                width: 600px;
                height: 100%;
                border: black 2px solid
              }
              
              
                </style>`,
            name:"InfinityScroll"
        }
    },

  computed: {
        items() {
            let items = [], data
            if (this.data) data = this.data

            for (let i in data) items.push(data[i])
            return items
        },
    },

  methods: {
        show(item){
            this.showed = item
        },

        async refresh() {
            this.data = null
            this.showed = null

            console.log("refresh")
            this.data = await GLOBAL.API.getibot.get(`${this.dataType}/cache`)

        },
    }
}
</script>

<style>
  .InfinityScroll.col-5{
    width: 600px;
    height: 100%;
    border: black 2px solid
  }
</style>
