<template>
  <v-scroll-y-transition mode="out-in"
      style="width:15em;"
      >
    <v-container v-if="json" class="grey lighten-5">
                <v-card class="pt-6 mx-auto" flat max-width="400" >
                    <v-card-text>
                        <v-avatar size="88">
                            <v-img :src="json.iconURL" class="mb-6"></v-img>
                        </v-avatar>
                        <h3 class="headline mb-2">
                            {{json.name }}
                        </h3>
                        <div class="blue--text mb-2">{{json.id }}</div>
                        <div class="blue--text subheading font-weight-bold">{{json.ownerId }}</div>
                                 <div v-for="(item, index) of data" :key="index" >{{item[0]}} : {{item[1]}} </div>
                    </v-card-text>
                </v-card>



    </v-container>
    <!--<v-progress-circular indeterminate v-else />-->

  </v-scroll-y-transition>
</template>


<script>
import GLOBAL from '../GLOBAL.js'


export default {
  props: {
        id: {
            default: null,
            type: String
        },
        json: {
            default: null,
            type: Object
        },
        type: {
            default: null,
            type: String
        },
    },

    computed: {
        data() {
            let data = new Map()
            if (!this.json) {
                data.set("Error","Je n'ai pas de donnée a fournir")
                return data
            }

            console.log(GLOBAL.API.data.authorizedType)
            console.log(this.type)
            console.log(this.json)

            if (!GLOBAL.API.data.authorizedType.includes(this.type)) {
                data.set("Error",'Le type de donnée est inconnu')
                return data
            }

            for (let i in GLOBAL.API.data[this.type])data.set(GLOBAL.API.data[this.type][i],this.json[GLOBAL.API.data[this.type][i]])

            console.log(data)
            return data
        }
    },
    async mounted() {
         if (this.json) return
        
        let path
        if (this.type == "users")path = "users/cache"
        if (this.type == "channels")path = "channels/cache"
        if (this.type == "guilds")path = "guilds/cache"

        this.json = await GLOBAL.API.getibot.get(`${path}/${this.id}`)
        return true

    },

    methods: {
        async fetchData() {

        }
    }
  }
</script>



