<template>

      <!--<h3>Transition</h3>-->
      
            
      <draggable
      class="notification"
        v-model="notification"
        v-bind="dragOptions"
        @start="isDragging = true"
        @end="isDragging = false"
      >
        <transition-group type="transition" name="flip-list">
        
          <v-alert
            class="elevation-15"
            border="left"
            dense
            v-for="(element, index) in notification"
            :key="element.order"
            :type="element.type"
          >
            {{ element.message }}
            <v-icon @click.stop="notification.splice(index, 1)">mdi-close</v-icon>
          </v-alert>
          
        </transition-group>
      </draggable>
      

</template>

<script>
import draggable from "vuedraggable";

export default {
  name:"DragAndDrop",
  icon:"hand",

  components: {
    draggable
  },
  
  data() {
    return {
      notification: [
            {message:"Message1",type:"success"},
            {message:"Message2",type:"info"},
            {message:"Message3",type:"warning"},
            {message:"Message4",type:"error"},
          ].map((objet, index) => {
        objet.order = index + 1
        return objet;
      }),

    };
  },

  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    }
  }
};
</script>

<style>

</style>