<template>
  <!-- Trouver un systeme de grid -->
  <v-card
    :id="article.id"
    :class="'Article ma-1 ' "
    :width="$app.screen > 800 ? ($app.screen > 1200 ? (expand ? '70%' : '32%') : (expand ? '92%' : '45%')) : '92%'"
  >
    <div
      class="header pa-3 d-flex justify-space-between"
      @click="clickExpand"
      :style="expand ? 'background-color: var(--v-secondary-base);':'height:100%;'"
    >
      <h3>{{article.title.rendered}}</h3>
      <!--<v-spacer/>-->
      <v-icon right height="1em">{{ expand ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
    </div>

    <v-divider v-show="expand" />

    <v-expand-transition>
      <div class="pa-3" v-show="expand" v-html="article.content.rendered" />
    </v-expand-transition>
  </v-card>
</template>

<script>
export default {
  props: {
    article: {
      default: null,
      type: Object,
    },
  },
  data() {
    return {
      articles: undefined,
      expand: false,
    };
  },
  methods: {
    clickExpand() {
      this.expand = !this.expand;
      
      let decalage = 100 //TODO doit correspondre dynamiquement aux deux barres du haut (systemBar et appBar)
      
      if (this.expand) {
        setTimeout(() => {
          window.scrollTo({
            top: this.$el.getBoundingClientRect().top + window.pageYOffset - decalage,
            behavior: "smooth",
          });
          this.$parent.expandCount++;
        }, 150);
      } else {
        this.$parent.expandCount--;
      }
    },
  },
};
</script>
<style>
.Article.v-card {
  border-left: var(--v-secondary-base) 5px solid;
  transition: 2.5 ease;
}

.Article > .header {
  display: block;
  width: 100%;
  align-items: center;
  border-radius: 0% 5px 5px 0% !important;

  background-color: var(--v-primary-base);
  background-image: linear-gradient(
    270deg,
    var(--v-primary-base),
    rgba(0, 0, 0, 0)
  );
  transition: 0.5s ease;
}

.Article img {
  float: left;
  margin: 12px;
  margin-left: 0px;
  margin-top: 0px;

  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
}

.Article a {
  color: var(--v-accent-base) !important;
}
</style>
