<template>
  <!-- TODO bouton go today  -->

  <v-card class="CalendarMonth ma-1">
    <v-card-title class="monthCardTitle d-flex flex-wrap justify-space-around primary pa-1">
      <div class="monthTitle d-flex flex-column justify-center">
        <v-btn class="primary" x-small depressed @click="incMonth(1)">
          <v-icon>mdi-chevron-up</v-icon>
        </v-btn>
        <div>{{new Date(year,month, 1).toLocaleDateString(region, {month:"long"}).toUpperCase()}}</div>
        <v-btn class="primary" x-small depressed @click="incMonth(-1)">
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </div>

      <div class="yearTitle d-flex flex-column justify-center">
        <v-btn class="primary" x-small depressed @click="incMonth(12)">
          <v-icon>mdi-chevron-up</v-icon>
        </v-btn>
        <div>{{year}}</div>
        <v-btn class="primary" x-small depressed @click="incMonth(-12)">
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </div>
    </v-card-title>
    <v-divider />
    <div class="CalendarMonthDays d-flex flex-wrap pa-3">
      <div
        :class="'day d-flex justify-center align-center' + dayMonth.className + (dayMonth.id == `${selectedDate.getDate()}/${selectedDate.getMonth() + 1}/${selectedDate.getFullYear()}`?' selectedDate ':'')"
        v-for="dayMonth in datesOfTheMonth"
        @click="onClickDay(dayMonth.date)"
        :key="dayMonth.id"
      >{{dayMonth.date.getDate()}}</div>
    </div>
    <!--{{selectedDate.toLocaleDateString(region, {day:"numeric",month:"long", year:"numeric"})}}-->
  </v-card>
</template>

<script>
export default {
  props: {
    date: {
      default() {
        return new Date();
      },
      events: {
        default: null,
      },
    },
    region: {
      default: "fr-FR",
    },
    option: {
      default() {
        return {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
          hour: "numeric",
          minute: "numeric",
        };
      },
    },
  },
  data() {
    return {
      day: this.date.getDate(),
      month: this.date.getMonth(),
      year: this.date.getFullYear(),
      joursDansMois: 0,
    };
  },

  computed: {
    selectedDate: {
      get() {
        this.month;
        this.year;
        return this.$parent.selectedDate;
      },
      set(value) {
        this.$parent.selectedDate = value;
      },
    },
    datesOfTheMonth() {
      let result = [],
        milliParJour = 1000 * 60 * 60 * 24,
        timestamp = Date.UTC(this.year, this.month, 0),
        date = new Date(timestamp);

      while (date.getDay() != 0) {
        date = new Date((timestamp -= milliParJour));
      }

      while (result.length < 43) {
        date = new Date((timestamp += milliParJour));
        let id = `${date.getDate()}/${
          date.getMonth() + 1
        }/${date.getFullYear()}`;

        let className = "";
        if (date.getDay() == 0) className += " sunday ";
        if (
          id ==
          `${new Date().getDate()}/${
            new Date().getMonth() + 1
          }/${new Date().getFullYear()}`
        )
          className += " today ";
        if (date.getMonth() != this.month) className += " otherMonth ";
        if (this.checkEvent(timestamp, timestamp + milliParJour))
          className += " event ";

        let formatedDate = {
          date,
          id,
          className,
        };

        if (
          result.length > 20 &&
          date.getDay() == 1 &&
          date.getMonth() != this.month
        )
          break;

        result.push(formatedDate);
      }
      return result;
    },
  },
  methods: {
    nbrJoursMois(mois, annee) {
      var nbreJour = 0;

      if (mois > 6) mois++;
      mois % 2 == 0 ? (nbreJour = 31) : (nbreJour = 30);
      //Mois de février
      if (mois == 1) {
        annee % 4 == 0
          ? annee % 100 == 0
            ? annee % 400 == 0
              ? (nbreJour = 29)
              : (nbreJour = 28)
            : (nbreJour = 29)
          : (nbreJour = 28);
      }
      return nbreJour;
    },

    incMonth(value) {
      let addyear = 0;
      for (let i = 0; this.month + value > 11 || this.month + value < 0; i++) {
        if (this.month + value > 11) {
          value -= 12;
          addyear++;
        } else {
          value += 12;
          addyear--;
        }
      }

      this.year += addyear;
      this.month += value;
    },

    onClickDay(dayMonth) {
      if (
        this.$parent.showSelectedDate &&
        dayMonth.getDate() == this.selectedDate.getDate()
      ) {
        this.selectedDate = new Date(1, 1, 1); //selectedDate doitrester un objet date, pour le faire disparaitre on choisit une date tres eloigné
        this.$parent.showSelectedDate = false;
        return;
      }
      this.selectedDate = dayMonth;

      if (!this.$parent.showSelectedDate) this.$parent.showSelectedDate = true;
    },

    checkEvent(start, end) {
      if (!this.$app.USER) return;
      let events = this.$app.USER.events,
        result = [];

      for (let i in events) {
        if (i >= start && i < end) {
          result.push(events[i]);
        }
      }
      if (!result.length) result = false;
      return result;
    },
  },
};
</script>

<style>
.CalendarMonth {
  text-align: center;
  /*max-width: 350px;*/
  /*min-width: 350px;*/
  user-select: none;
}
.CalendarMonthDays {
  max-width: 350px;
  min-width: 350px;
}

.monthCardTitle .v-btn {
  opacity: 0.2;
}
.monthCardTitle .v-btn:hover {
  opacity: 1;
}

.monthTitle {
  width: 6em;
}
.yearTitle {
  width: 3em;
}
.day {
  height: 2.5em;
  width: 2.5em;
  margin: 3px;
  padding: 3px;
  border-radius: 4px;
  background-color: var(--v-primary-base);
  opacity: 1;
  cursor: pointer;
  transition: ease 0.5s;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}
.day:hover {
  transition: ease 0.2s;
  transform: translate(-3px, -3px);
  background-color: var(--v-primary-lighten3);
  /*border-bottom: var(--v-primary-lighten2) solid 5px;*/
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.day.otherMonth:hover {
  opacity: 0.6;
}

.sunday {
  background-color: var(--v-primary-darken1);
}
.today {
  border: var(--v-secondary-base) solid 2px;
  /*border-bottom: var(--v-secondary-base) solid 2px;*/
  /*border-top: var(--v-secondary-base) solid 2px;*/
  /*border-left: var(--v-secondary-base) solid 1px;*/
  /*border-right: var(--v-secondary-base) solid 1px;*/
}
.event {
  border-bottom: var(--v-accent-base) solid 4px;
}

.otherMonth {
  opacity: 0.3;
}
.selectedDate.otherMonth {
  opacity: 0.6;
}

.selectedDate {
  background-color: var(--v-primary-lighten2);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  transform: translate(-2px, -2px);
}
</style>