<template>
  <!-- horaire de 9 a 22h -->
  <!-- scrollable vers les heures suivantes -->
  <v-card class="CalendarDay ma-1 justify-center">
    <v-card-title class="primary">
      {{selectedDate.toLocaleDateString($parent.region, {weekday:"long",day:"numeric",month:"long", year:"numeric"})}}
      <v-spacer />
      <v-icon @click="$parent.showSelectedDate = false">mdi-close</v-icon>
    </v-card-title>
    <v-divider />
    <v-card-text class="pa-0" v-if="events">
      <div v-for="(event, index) in events" :key="index">
        <o-calendar-event :dataEvent="event" />
      </div>
    </v-card-text>
    <v-card-text v-else>
      <div>Pas d'évenements ce jour</div>
    </v-card-text>
  </v-card>
</template>

<script>
import OCalendarEvent from "./OCalendarEvent.vue";

export default {
  components: { OCalendarEvent },
  props: {
    date: {
      default: new Date(),
    },
  },
  data() {
    return {
      events: undefined,
    };
  },
  mounted() {
    // this.loadEvents()
    // console.log(this.selectedDate)
    this.checkEvent();
  },

  methods: {
    async loadEvents() {
      //requete api par rapport au timestamp du jour
      let events = this.checkEvent(
        this.$parent.selectedDate.valueOf(),
        this.$parent.selectedDate.valueOf() + 1000 * 60 * 60 * 24
      );
      this.events = events;
    },

    checkEvent(start, end) {
      if (!this.$app.USER) return;
      let events = this.$app.USER.events,
        result = [];

      for (let i in events) {
        if (i >= start && i < end) {
          result.push(events[i]);
        }
      }
      if (!result.length) result = false;
      return result;
    },
  },

  computed: {
    selectedDate: {
      get() {
        this.loadEvents();

        // if (!this.$parent.selectedDate) return new Date();
        return this.$parent.selectedDate;
      },
      set(value) {
        this.$parent.selectedDate = value;
      },
    },

  },
};
</script>

<style>
.CalendarDay {
  text-align: center;
  min-width: 350px;
  max-width: 500px;
  /*max-height: 250px;*/
  user-select: none;
}
</style>