<template>
  <div class="Calendar d-flex flex-wrap ma-1 pa-3">
<!-- <v-btn @click="showSelectedDate = !showSelectedDate"><v-icon>mdi-eye</v-icon></v-btn> -->
    <!-- {{dateNow}} -->
    <!-- month -->
    <o-calendar-month :listEvents="listEvents"/>
    <o-calendar-day v-show="showSelectedDate" :date="selectedDate"/>
  </div>
</template>

<script>
import OCalendarMonth from "./OCalendarMonth.vue";
import OCalendarDay from "./OCalendarDay.vue";

export default {
  name:"calendar",
  icon:"calendar",
  components: { OCalendarMonth, OCalendarDay },

data(){
  return{
    selectedDate:new Date(1, 1, 1), //selectedDate doitrester un objet date, pour le faire disparaitre on choisit une date tres eloigné
    showSelectedDate:false,
    listEvents:[]
  }

},
  mounted() {
    // console.log("dateNow", this.$children[0].selectedDate);
  },
  methods:{
    async loadEvents(){
      let milliParJour = 1000 * 60 * 60 * 24;
      let timestamp = Date.UTC(this.year, this.month, 0);

      //interroger l'api sur les données d'evenement utilisateur
      // this.listEvents = await eventApi.get(this.$app.user.id, 'list')
      
      this.listEvents = [timestamp-milliParJour*3 ]
      
      
    }
  }


  
};
</script>

<style>

</style>