<template>
  <v-card class="CalendarEvent ma-3 pa-0">
    <v-card-title :style="'background-color:'+ dataEvent.color" class="d-flex justify-space-around">
      {{dataEvent.title}}
      <v-icon class="d-flex align-center" height="1em" @click="expand = !expand" >{{ expand ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
    </v-card-title>
    <v-card-subtitle
      :style="'background-color:'+ dataEvent.color"
    >de {{ `${dataEvent.start.toLocaleTimeString("fr-FR", {hour:"numeric", minute:"numeric"})} à ${dataEvent.end.toLocaleTimeString("fr-FR", {hour:"numeric", minute:"numeric"})}`.replace(/:/gi, 'H') }}</v-card-subtitle>
    <!-- <v-btn @click="clickEventTitle">test</v-btn> -->
    <v-expand-transition>
      <div v-show="expand">
        <v-divider></v-divider>
        <v-card-text class="pa-0">
          <div>{{dataEvent.description}}</div>
          <br />
          <div>Propriétaires : {{dataEvent.owners}}</div>
          <div>Participants : {{dataEvent.participants}}</div>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
export default {
  props: {
    dataEvent: {
      default() {
        return new Date();
      },
      // type: Object,
    },
  },
  data() {
    return {
      expand: false,
    };
  },
  methods: {},
  computed: {},
};
</script>

<style>
/* .CalendarEvent{
  margin: 0px;
  padding: 0px;
  width: 400px;
} */
</style>