<template>
  <v-card
    class="ExpandableCard ma-2"
    tile
    :style="'width:'+ width +';'"
  >
  <div @click="expand = !expand" :style="`background-color : var(--v-${color}-base);`"
>
    <h2 >{{title}}</h2>
    <v-card-subtitle v-if="subTitle">{{subTitle}}</v-card-subtitle>
</div>
    <v-expand-transition>
      <div v-show="expand" class="ExpandableCardContent pa-2" :style="`background-color : var(--v-${color}-darken2);`">
        <slot></slot>
      </div>
    </v-expand-transition>
    <v-divider :style="`border-color:var(--v-${color}-lighten2)`"/>
    <div class="expender d-flex justify-center" @click="expand = !expand" :style="`background-color : var(--v-${color}-base);`">
      <v-icon>{{ expand ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      default: "Pas de titre",
      type: String,
      required: true,
    },
    subTitle: {
      default: undefined,
      type: String,
      required: false,
    },
    width: {
      default: "350px",
      type: String,
      required: false,
    },
    colorHeader: {
      default: undefined,
      type: String,
      required: false,
    },
    color: {
      default: "primary",
      type: String,
      required: false,
    },
  },
  data() {
    console.log(this.$vuetify.theme.currentTheme.primary);
    return {
      expand: false,
    };
  },
  methods: {},
  computed: {},
};
</script>

<style>

.ExpandableCard h2{
   padding:.6em; padding-top:.1em; padding-bottom:.1em; cursor: pointer;
}
.expender {
  cursor: pointer;
  height:1em
}
/* .ExpandableCardContent {
  background-color: var(--v-primary-lighten1);
} */
</style>