<template>
  <div>
    <v-form ref="form" v-model="valid">
      <v-card-actions
        @click="expandSolo = !expandSolo"
        class="justify-space-between clickable"
      >
        <h3>{{ content.h3_1 }}</h3>
        <v-icon height="1em">{{
          expandSolo ? "mdi-chevron-up" : "mdi-chevron-down"
        }}</v-icon>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="expandSolo" transition="fade">
          <v-row no-gutters>
            <v-text-field
              prepend-inner-icon="mdi-discord"
              class="mx-2"
              color="secondary"
              v-model="discordTag"
              :rules="discordTagRules"
              :label="content.label_1"
              required
            />
            <v-text-field
              prepend-inner-icon="mdi-gamepad-variant"
              class="mx-2"
              color="secondary"
              v-model="gameAccount"
              :rules="gameAccountRules"
              :label="content.label_2"
              required
            />
          </v-row>
        </div>
      </v-expand-transition>
      <v-divider />

      <v-card-actions
        @click="expandDetails = !expandDetails"
        class="justify-space-between clickable"
      >
        <h3>{{ content.h3_2 }}</h3>
        <v-icon height="1em">{{
          expandDetails ? "mdi-chevron-up" : "mdi-chevron-down"
        }}</v-icon>
      </v-card-actions>

      <!--<v-divider />-->

      <v-expand-transition>
        <div v-show="expandDetails" transition="fade">
          <v-row no-gutters>
            <v-text-field
              class="mx-2"
              counter="25"
              color="secondary"
              v-model="soloRole"
              :rules="soloRoleRules"
              :label="content.label_3"
              required
            />
            <v-text-field
              class="mx-2"
              counter="25"
              color="secondary"
              v-model="soloHeros"
              :rules="soloHerosRules"
              :label="content.label_4"
              required
            />
            <v-text-field
              class="mx-2"
              color="secondary"
              v-model="soloElo"
              :rules="soloEloRules"
              :label="content.label_5"
              required
            />
          </v-row>

          <v-row no-gutters>
            <v-text-field
              class="mx-2"
              color="secondary"
              v-model="soloCommentary"
              :label="content.label_6"
            />
          </v-row>

          <!--<v-divider />-->
        </div>
      </v-expand-transition>
      <v-row class="justify-space-around ma-2" no-gutters>
        <v-btn
          dense
          color="success"
          class="ma-2"
          :disabled="!valid"
          @click="validate"
          >{{ content.btn_1 }}</v-btn
        >
        <v-btn dense color="error" class="ma-2" @click="reset">
          {{ content.btn_2 }}
        </v-btn>
      </v-row>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "FormSolo",

  data: function () {
    return {
      expandSolo: true,
      expandDetails: false,
      valid: false,
      loading: false,

      discordTag: this.$app.USERusername
        ? `${this.$app.USERusername}#${this.$app.USERdiscriminator}`
        : "",
      discordTagRules: [
        (v) => !!v || "Un discordTag est requis",
        (v) =>
          /.+#[0-9]{4}/.test(v) ||
          "Un discordTag se presente comme suit : biloute#1234",
      ],

      gameAccount: "",
      gameAccountRules: [
        (v) => !!v || "Un Compte inGame est requis",
        (v) => /.+#.+/.test(v) || "Ton Compte BattleNet ou Riot",
      ],

      // ================================================

      soloRole: "",
      soloRoleRules: [(v) => !!v || "Un role privilégié est requis"],

      soloHeros: "",
      soloHerosRules: [(v) => !!v || "Un nom de team est requis"],

      soloElo: "",
      soloEloRules: [(v) => !!v || "Un elo est requis"],

      soloCommentary: "",
    };
  },

  computed: {
    content() {
        this.$app.country;
        return this.$app.multiLangage(this, "OFormSolo");
      },
  },
  methods: {
    check(event) {
      console.log("CHECK", this.$refs.form);
      this.check = event;
    },

    async validate() {
      await this.$app.webHook(
        "inscription",
        `!!ligue inscriptionsolo //${this.discordTag}//${this.gameAccount}//${this.soloElo}//${this.soloRole}//${this.soloHeros}//${this.soloCommentary}`,
        "Il ya eu un problème avec l'inscription",
        {
          title: "Inscription envoyé !",
          message: `Tu recevera bientot une confirmation des organisateurs`,
          type: "success",
          timer: 25,
        }
      );

      this.$refs.form.reset();
    },

    reset() {
      this.$refs.form.reset();
      this.$parent.$options.parent.registerSolo = false;
    },
  },
};
</script>
<style>
/*TODO Changer le style pour qeu les page arrete d'etre centré au milieu */
</style>

