<template>
  <div>
    <v-form ref="form" v-model="valid" >
      <v-card-actions @click="expandcap = !expandcap" class="justify-space-between clickable" >
        <h3>Info du capitaine</h3>
        <v-icon
          height="1em"
          
        >{{ expandcap ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="expandcap" transition="fade">
          <v-row no-gutters>
            <v-text-field
              prepend-inner-icon="mdi-discord"
              class="mx-2"
              color="secondary"
              v-model="discordTag"
              :rules="discordTagRules"
              label="DiscordTag"
              required
            />
            <v-text-field
              prepend-inner-icon="mdi-gamepad-variant"
              class="mx-2"
              color="secondary"
              v-model="gameAccount"
              :rules="gameAccountRules"
              label="Compte inGame"
              required
            />
          </v-row>
        </div>
      </v-expand-transition>
      <v-divider />

      <v-card-actions @click="expandTeam = !expandTeam" class="justify-space-between clickable">
        <h3>Info de la team</h3>
        <v-icon
          height="1em"
          
        >{{ expandTeam ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-card-actions>

      <!--<v-divider />-->

      <v-expand-transition>
        <div v-show="expandTeam" transition="fade">
          <v-row no-gutters>
            <v-text-field
              class="mx-2"
              counter="25"
              color="secondary"
              v-model="teamName"
              :rules="teamNameRules"
              label="Nom de team"
              required
            />
            <v-text-field
              class="mx-2"
              color="secondary"
              v-model="teamElo"
              :rules="teamEloRules"
              label="Elo"
              required
            />
          </v-row>

          <v-row no-gutters class="align-center">
            <v-text-field
              class="mx-2"
              color="secondary"
              v-model="teamLogoURL"
              label="Lien URL vers un Logo"
            />
            <v-img
              class="ma-2"
              max-height="4em"
              max-width="4em"
              v-if="teamLogoURL"
              :src="teamLogoURL"
            />
          </v-row>

          <v-text-field
            class="mx-2"
            color="secondary"
            v-model="teamReseaux"
            label="Comment vos fans peuvent-ils suivre votre actualité ?"
          />

          <!--<v-divider />-->
        </div>
      </v-expand-transition>
      <v-row class="justify-space-around ma-2" no-gutters>
        <v-btn dense color="success" class="ma-2" :disabled="!valid" @click="validate">Valider</v-btn>
        <v-btn dense color="error" class="ma-2" @click="reset">Annuler</v-btn>
      </v-row>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "FormTeam",

  // mounted(){
  //   this.$on("click", this.check)
  //   },

  data: function () {
    return {
      expandcap: true,
      expandTeam: false,
      valid: false,

      discordTag: this.$app.USERusername?`${this.$app.USERusername}#${this.$app.USERdiscriminator}`:'',
      discordTagRules: [
        (v) => !!v || "Un discordTag est requis",
        (v) =>
          /.+#[0-9]{4}/.test(v) ||
          "Un discordTag se presente comme suit : biloute#1234",
      ],

      gameAccount: "",
      gameAccountRules: [
        (v) => !!v || "Un Compte inGame est requis",
        (v) => /.+#.+/.test(v) || "Ton Compte BattleNet ou Riot",
      ],

      // ================================================

      teamName: "",
      teamNameRules: [
        (v) => !!v || "Un nom de team est requis",
        (v) => v.length <= 25 || "Le nom doit faire moins de 25 caractères",
      ],
      

      teamElo: "",
      teamEloRules: [
        (v) => !!v || "Un elo est requis"],

      teamLogoURL: "",
      teamLogoURLRules: [
        (v) =>
          /(https*:\/\/.+\.(png|jpeg))/.test(v) ||
          "L'URL doit mener vers un png ou un jpeg",
      ],

      teamReseaux: "",
    };
  },

  methods: {
    check(event) {
      console.log("CHECK", this.$refs.form);
      this.check = event;
    },

    async validate() {
      await this.$app.webHook(
        "inscription",
        `!!ligue inscriptionteam //${this.discordTag}//${this.gameAccount}//${this.teamName}//${this.teamElo}//${this.teamLogoURL}//${this.teamReseaux}`,
        "Il ya eu un problème avec l'inscription",
        {title: "Inscription envoyé !", message: `Tu recevera bientot une confirmation des organisateurs`, type: "success", timer: 25}
      );

      this.$refs.form.reset();
    },

    reset() {
      this.$refs.form.reset();
      this.$parent.$options.parent.registerTeam = false
    },
  },
};
</script>
<style>
</style>

