<template>
  <v-card class="pa-2">
    <v-form ref="form" v-model="valid">
      <v-card-text>
        <div class="mb-2">
          Ceci est la page pour voter pour le nouveau président du club de bobo
          voileux
        </div>
        <v-card-action class="d-flex justify-center">
          <v-btn
            class="ma-1"
            v-for="person in vote"
            :key="person"
            @click="voting = person"
            :class="voting == person ? 'secondary' : 'primary'"
          >
            {{ person }}</v-btn
          >
        </v-card-action>
        <v-card-title class="d-flex justify-center"
          >Vous avez voté pour {{ voting }}</v-card-title
        >

        <v-text-field
          prepend-inner-icon="mdi-account"
          class="mx-2"
          color="secondary"
          v-model="votant"
          :rules="votantRules"
          label="Nom Prénom"
          required
        />
        <v-text-field
          prepend-inner-icon="mdi-flag"
          class="mx-2"
          color="secondary"
          v-model="code"
          label="Fanion"
          hint="Doit vous permettre de reconnaitre votre vote, sans dévoiler votre identité"
          required
        />
      </v-card-text>
      <v-card-action class="d-flex justify-center">
        <v-btn
          dense
          color="success"
          class="ma-2"
          :disabled="!valid"
          @click="validate"
          >Valider</v-btn
        >
        <v-btn dense color="error" class="ma-2" @click="reset">Annuler</v-btn>
      </v-card-action>
    </v-form>
  </v-card>
</template>

<script>
export default {
  name: "Poll",

  data() {
    return {
      vote: ["Pierre", "Paul", "Jacque", "Michel"],
      voting: "personne",
      valid: false,

      votant: "",
      votantRules: [(v) => !!v || "On a besoin de savoir qui a bien voté"],
      code: "",
      codeRules: [
        (v) =>
          !!v ||
          "Doit vous permettre de reconnaitre votre vote, sans dévoiler votre identité",
      ],
    };
  },

  methods: {
    async validate() {
      console.log("envoyer la réponse");

      this.$refs.form.reset();
    },
    reset() {
      this.voting = "personne";

      this.$refs.form.reset();
      this.$parent.$options.parent.registerTeam = false;
    },
  },
};
</script>

<style>
</style>