<template>
  <v-card dense class="SystemNotif ma-2 py-0 elevation-2 ma-1" :color="type" v-show="show" app>
    <v-card-actions>
      <v-icon class="mr-3">{{ icon }}</v-icon>
      {{title}}
      <v-spacer></v-spacer>
      <v-icon
        height="1em"
        v-if="message"
        @click="expand = !expand"
      >{{ expand ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      <v-icon @click="show = !show">mdi-close</v-icon>
    </v-card-actions>

    <v-progress-linear v-if="timer" color="white" :value="loadValue"></v-progress-linear>

    <v-expand-transition v-if="message">
      <div v-show="expand">
        <v-divider></v-divider>
        <v-card-text>
          {{message}}
          <slot></slot>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
export default {
  props: {
    type: {
      default: "error",
      type: String,
      validator: (value) =>
        ["warning", "info", "success", "error"].includes(value),
      required: true,
    },
    title: {
      default: "Notification",
      type: String,
      required: true,
    },
    message: {
      default: undefined,
      required: false,
    },
    timer: {
      default: false,
      required: false,
    },
  },

  data() {
    return {
      loadValue: 0,
      notifType: "success",
      notifMessage: "message de test",
      expand: false,
      show: true,
    };
  },

  computed: {
    icon() {
      if (this.type == "error") return "mdi-alert";
      if (this.type == "warning") return "mdi-exclamation";
      if (this.type == "info") return "mdi-information";
      if (this.type == "success") return "mdi-check-circle";
      return "mdi-hand";
    },

    notifData: {
      get() {
        return { type: this.notifType, message: this.notifMessage };
      },
      set(message, type) {
        this.notifType = type;
        this.notifMessage = message;

        return { message, type };
      },
    },
  },

  mounted: function () {
    if (this.timer != 0 && this.timer != false && this.timer != undefined)
      this.loading(this.timer);
  },

  methods: {
    loading(sec) {
      if (sec === true) sec = 15;

      this.interval = setInterval(() => {
        this.loadValue = this.loadValue + 1;
        if (this.loadValue <= 100) return;
        this.show = false;
        clearInterval(this.interval);
      }, sec * 10);
    },

    notifTest() {
      this.$app.notif({
        message: this.notifMessage,
        type: this.notifType,
      }); //envoie l'evenement au parent
    },
  },
};
</script>

<style>
.SystemNotif {
  width: 17em;
  /*TODO Idéalement, j'aimerai jsute mettre le fond legerement transparent, pas le texte ni sont contenu*/
  opacity: 0.85;
}

.SystemNotif .col {
  max-width: 75%;
}

.forYtransition {
  overflow: hidden;
  height: 1.5em;
  vertical-align: top;
  display: inline-block;
}
</style>

