<template>
  <v-footer class="Footer primary d-flex justify-space-between" app>
    <v-expand-x-transition>
      <div
        v-show="$app.screen > 400"
        class="accent--text forXtransition"
      >&copy; {{$app.appTitle}} {{ new Date().getFullYear() }}</div>
    </v-expand-x-transition>

    <div class="mx-auto">
      <a
        v-for="reso in $app.reseauxSocio"
        :href="reso.href"
        :key="reso.text"
        target="_blank"
        class="mx-1 text-decoration-none accent--text"
      >
        <v-divider vertical class="mx-1" />

        <v-icon color="accent">mdi-{{reso.icon}}</v-icon>

        <v-expand-x-transition>
          <div
            v-show="$app.screen > 900"
            display="inline-block"
            class="mx-1 forXtransition"
          >{{reso.text}}</div>
        </v-expand-x-transition>
      </a>
    </div>

    <v-expand-x-transition>
      <div v-show="$app.screen > 600" class="accent--text forXtransition">Made in 🇫🇷 with ❤️</div>
    </v-expand-x-transition>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",

};

</script>

<style>
</style>