<template>
  <div class="NotifArea d-flex" app>
    <transition-group type="transition" name="flip-list">
      <o-system-notif
        v-for="(element) in $app.notifications"
        transition="slide-x-transition"
        :title="element.title"
        dense
        :message="element.message"
        :timer="element.timer"
        :key="element.order"
        :type="element.type"
      />
    </transition-group>
  </div>
</template>
<script>
import OSystemNotif from "./OSystemNotif.vue";

export default {
  components:{OSystemNotif},

  data() {
    return {
    };
  },
};
</script>
<style>
/* N'apparait pas au premier plan */
.NotifArea {
  position: absolute;
  top: 5.6em;
  right: 0em;
  margin-right: auto;
  margin-left: auto;
  min-width: 12em;
  max-width: 20em;
}

</style>

