<template>
  <v-menu
  class="SystemCommentaryButton"
    transition="slide-x-reverse-transition"
    offset-x
    left
    top
    v-model="menu"
    :close-on-click="true"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn class="CommentaryButton accent" tile icon v-bind="attrs" v-on="on">
        <v-progress-circular v-if="loading" indeterminate color="secondary"></v-progress-circular>
        <v-icon v-else>mdi-message-alert</v-icon>
      </v-btn>
    </template>

    <v-card class="pa-3">
      <v-text-field class="noHint" color="accent" v-model="comPseudo" label="Pseudo" />
      <v-text-field
        @click:append="sendComment"
        class="noHint"
        color="accent"
        append-icon="mdi-send"
        v-model="comMessage"
        label="Commentaire"
      />
    </v-card>
  </v-menu>
</template>

<script>
export default {
  name: "MakeCommentary",
  data() {
    return {
      comPseudo: "",
      comMessage: "",
      menu: false,
      loading: false,
    };
  },
  methods: {
    async sendComment() {
      this.loading = true;
      await this.$app.webHook(
        "olympe",
        `**${this.comPseudo}** a envoyé depuis le site :\n>>> ${this.comMessage}`,
        "Ton commentaire n'a pas été envoyé",
        "Ton commentaire a été envoyé"
      );

      this.comPseudo = undefined;
      this.comMessage = undefined;
      this.menu = false;

      this.loading = false;
    },
  },
};
</script>

<style>
.CommentaryButton {
  position: fixed;
  transition: ease 0.5s;
  bottom: 10em;
  right: 0em;
}

.noHint .v-text-field__details {
  display: none;
}


</style>