<template>
  <v-navigation-drawer
      v-if="$app.screen<=600"
      v-model="$app.navDrawer"
      app
      disable-resize-watcher
      :close-on-click="true"
    >
      <!-- <v-list dense> -->
      <v-btn
        class="secondary ma-4 d-flex"
        depressed
        width="auto"
        v-for="item in $app.navbar"
        :key="item.id"
        :to="item.url"
      >
        <v-icon>mdi-{{item.icon}}</v-icon>
        {{item.id.toUpperCase()}}
      </v-btn>
      <!-- </v-list> -->
    </v-navigation-drawer>


</template>

<script>
export default{
  name:"NavDrawer",
  computed:{
    navDrawer:{
      get(){return this.$app.navDrawer},
      set(value){
        this.$app.navDrawer = value},
    }
  }
}


</script>

<style>


</style>