<template>
  <div class="User">
    <v-menu
      transition="slide-x-reverse-transition"
      origin="right top"
      offset-y
      :close-on-click="true"
      :close-on-content-click="false"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn id="UserButton" fab depressed v-bind="attrs" v-on="on">
          <!-- Si utilisateurs en chargement -->
          <v-progress-circular
            v-if="user == 'loading'"
            indeterminate
            color="accent"
          ></v-progress-circular>
          <!-- Si utilisateurs est renseignés ou pas -->
          <v-icon v-else-if="!$app.USERavatarURL">mdi-account</v-icon>
          <v-avatar v-else>
            <v-img :src="$app.USERavatarURL" />
          </v-avatar>
        </v-btn>
      </template>

      <v-card class="UserMenu pa-2" v-if="user !== 'loading'">
        <div class="d-flex inline-block">
          <v-icon class="mr-2">mdi-cog</v-icon>
          <h2>Parametres</h2>
        </div>
        <o-translate-button />
        <v-text-field
          v-if="!user"
          prepend-icon="mdi-account"
          v-model="email"
          hide-details="auto"
        ></v-text-field>

        <div v-else>
          <!-- {{$app.discordUrlOAuth}} -->

          <v-btn icon tile dense color="red" @click="$app.logoutUser()">
            <v-icon>mdi-logout</v-icon> </v-btn
          >LogOut
        </div>
        <!--<v-text-field append-icon="mdi-lock" v-model="mdp" label="Password" hide-details="auto"></v-text-field>-->

        <!-- <v-btn v-if="!user" icon tile dense color="green">
          <v-icon>mdi-login</v-icon>
        </v-btn> -->
        <v-btn
          icon
          tile
          dense
          color="#7289da"
          :href="$app.discordUrlOAuth"
          target="_blank"
        >
          <v-icon size="2em">mdi-discord</v-icon>
        </v-btn>
        Connexion discord

        <!-- Menu Brush -->
      </v-card>
    </v-menu>
  </div>
</template>

<script>
import OTranslateButton from "./OTranslateButton.vue";

export default {
  name: "User",
  icon: "account",
  components: { OTranslateButton },
  data() {
    return {
      pseudo: null,
      mdp: null,
      admin: null,
      username: null,
      discriminator: null,
      email: null,
    };
  },
  computed: {
    user() {
      if (!this.$app.USERusername) return false;
      this.setUser();
      return {
        username: this.$app.USERusername,
        discriminator: this.$app.USERdiscriminator,
        email: this.$app.USERemail,
        avatarURL: this.$app.USERavatarURL,
      };
    },
  },
  methods: {
    setUser() {
      (this.username = this.$app.USERusername),
        (this.discriminator = this.$app.USERdiscriminator),
        (this.email = this.$app.USERemail);
    },
  },
};
</script>

<style>
.UserMenu {
  min-width: 5em;
  right: 0em;
}
#UserButton {
  background-color: var(--v-primary-lighten1);
}
</style>