<template>
  <!-- <v-row justify="center"> -->
    <v-dialog v-model="$app.popupState" persistent max-width="290">

      <v-card>
        <v-card-title class="headline">
          {{ $app.popupValue.title }}
        </v-card-title>
        <v-card-text>
          {{ $app.popupValue.content }}
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-for="button in $app.popupValue.buttons"
            :class="button.class"
            :color="button.color"
            @click="button.func"
            text
            :key="button.text"
            >{{ button.text }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  <!-- </v-row> -->
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
    };
  },
};
</script>