<template>

      <v-btn
        v-scroll="onScroll"
        v-show="scroll>200"
        app
        fab
        id="ScrollUp"
        height="3em"
        width="3em"
        transition="fade"
      >
        <v-icon @click="scrollUp">mdi-chevron-double-up</v-icon>
      </v-btn>

</template>

<script>
export default {
  data() {
    return {
      scroll: 0,
    };
  },

  methods: {
    scrollUp() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    },

    onScroll() {
      this.scroll = window.pageYOffset;
    },
  },
};
</script>

<style>
#ScrollUp {
  position: fixed;
  bottom: 4em;
  right: 1em;
  background-color: var(--v-primary-lighten1);
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, -8px);
  }

  45% {
    transform: translate(0px, 2px);
  }
  50% {
    transform: translate(0px, 0px);
  }
}

#ScrollUp:hover {
  animation-name: bounce;
  animation-duration: 1s;
}
</style>
