<template>
  <div
    class="SystemAccount d-flex align-center primary ma-1"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <!-- Icon du type de compte :href="$app.discordUrlOAuth"-->
    <v-btn class="d-flex justify-center align center" icon 
      ><v-icon @click="edit = !edit" :color="account.color?account.color:'secondary'" size="2em">{{ account.icon }}</v-icon>
    </v-btn>
    <v-divider class="mx-1" v-show="hover || edit" vertical />

    <v-expand-x-transition>
      <div v-show="hover || edit"
>
        <div class="content pa-1 d-flex align-center">
          <!-- Avatar du compte -->
          <img
            src="https://cdn.discordapp.com/avatars/306395745693597697/9dcd294401e7c4d685b3a0ed9398f137.jpeg"
          />
          <!-- Tag du compte -->
          <div class="mx-2">{{ account.label }}</div>

          <div>
            <v-icon     @click="edit = !edit">mdi-cog</v-icon>
            <v-icon
              v-show="edit"
              :color="visibility ? 'green' : 'red'"
              @click="visibility = !visibility"
              >mdi-eye</v-icon
            >
            <v-icon
              v-show="edit"
              :color="link ? 'green' : 'red'"
              @click="link = !link"
              >mdi-link</v-icon
            >
          </div>

          <div class="fond"></div>
        </div>
      </div>
    </v-expand-x-transition>
  </div>
</template>

<script>
export default {
  props: ["account"],
  data() {
    return {
      hover: false,
      edit: false,
      visibility: true,
      link: true,
    };
  },
  computed: {
    user() {
      if (!this.$app.USERusername) return false;
      this.setUser();
      return {
        username: this.$app.USERusername,
        discriminator: this.$app.USERdiscriminator,
        email: this.$app.USERemail,
        avatarURL: this.$app.USERavatarURL,
      };
    },
  },
  methods: {
    setUser() {
      (this.username = this.$app.USERusername),
        (this.discriminator = this.$app.USERdiscriminator),
        (this.email = this.$app.USERemail);
    },
  },
};
</script>

<style>
.SystemAccount {
  border-radius: 5px;
  height: 2.5em;
  /* width: 2.5em; */
}

.SystemAccount img {
  height: 2em;
  border-radius: 500px;
}

/*TODO Prb d'alignemetn des block */
.SystemAccount .content {
  display: inline-block;
  /* cursor: pointer; */
  /* height: 2em;
  width: 15em; */
}
</style>