<template>

    <v-app-bar app class="primary">
        <!--Bouton d'activation du Drawer-->
        <v-app-bar-nav-icon
          transition="slide-x-transition"
          v-show="$app.screen<600"
          class="drawerMenu"
          @click="$app.navDrawer = !$app.navDrawer"
        />
    
        <v-spacer v-if="$app.screen<=600" />
        <!--Pour centrer le logo principal en cas de petite taille d'ecran-->
    
        <!--Bouton d'acceuil avec logo principal-->
        <v-btn to="/" icon>
          <v-avatar v-if="$app.logoURL">
            <img :src="$app.logoURL" />
          </v-avatar>
          <v-icon v-else>mdi-home</v-icon>
        </v-btn>
    
        <!--Boutons de navigation-->
        <div class="d-flex mx-auto" v-if="$app.screen>600">
          <v-btn
            class="secondary mx-1 forXtransition"
            depressed
            v-for="item in $app.navbar"
            :key="item.id"
            :to="item.url"
          >
            <v-icon class="forXtransition mx-1">mdi-{{item.icon}}</v-icon>
    
            <v-expand-x-transition>
              <div v-show="$app.screen>900" class="forXtransition mt-1">{{item.id.toUpperCase()}}</div>
            </v-expand-x-transition>
          </v-btn>
        </div>
    
        <v-spacer v-if="$app.screen<=600" />
        <!--Pour centrer le logo principal en cas de petite taille d'ecran-->
        <o-system-user-button />
    
      </v-app-bar>

</template>


<script>
import OSystemUserButton from "./OSystemUserButton.vue";


export default {
  components: { OSystemUserButton },
/*  props: {
    navDrawer: {
      default: false,
      type: Boolean,
    },
    navbar: {
      default: undefined,
      type: Object,
    },
    screen: {
      default: 900,
      type: Number,
    },
    logoURL: {
      default: undefined,
      type: String,
    },
  },
*/
};
</script>

<style>
.forXtransition {
  text-justify: none;
  overflow: hidden;
  height: 1.5em;
  vertical-align: middle;
  display: inline-block;
}

</style>

/*
TODO
gerrer la taille de la page avec une variable et du code JS
 */