<template>
  <v-menu transition="slide-x-transition" origin="left top" offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn size="1em" depressed dense v-bind="attrs" v-on="on">
        <v-icon>mdi-translate</v-icon> Langue : {{$app.country}}
      </v-btn>
    </template>

    <v-list class="ma-0 pa-0">
      <v-list-item
        dense
        v-for="value in country"
        :key="value.countryName"
        @click="$app.country = value.id"
      >
        <div class="mr-4">{{value.emote}}</div>
        {{value.countryName}}
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "Translate",
  icon: "translate",

  data() {
    return {
      country: this.$app.COUNTRY,
    };
  },
};
</script>

<style>
</style>
