<template>

  <iframe class="Twitch ma-2 elevation-5 d-flex justify-center" :id="'twitch' + twitchChannel" :src="'https://player.twitch.tv/?channel='+ twitchChannel + '&parent=olympevueapp.onrender.com'" frameborder="0" allowfullscreen="true" scrolling="no" :height="height" :width="width">
  </iframe>
</template>


<script>
  export default {
    
    props: {
      twitchChannel: {
        default: "overwatchleague",
        type: String,
        required: true,
      },
      height: {
        default: 300,
        type: Number,
      },
      width: {
        default: 530,
        type: Number,
      },
    },
    data() {
      return {
        focus: false,
      };
    },
  }
</script>

<style>
.Twitch{
  /*display: block;*/
  border:solid var(--v-secondary-base) 2px;
  border-radius: 15px;

  width: 95vw;
  height: 53.7vw;
  
}

</style>