<template>

<iframe id="ytplayer" class="Youtube ma-2 elevation-5 d-flex justify-center" type="text/html" :width="width" :height="height"
  :src="`http://www.youtube.com/embed?listType=user_uploads&list=`+ youtubeChannel"
  frameborder="0"/>
</template>


<script>
  export default {
    props: {
      youtubeChannel: {
        default: "suissard",
        type: String,
        required: true,
      },
      height: {
        default: 300,
        type: Number,
      },
      width: {
        default: 530,
        type: Number,
      },
    },
    data() {
      return {
        focus: false,
      };
    },
  }
</script>

<style>
.Youtube{
  /*display: block;*/
  border:solid var(--v-secondary-base) 2px;
  border-radius: 15px;

  width: 95vw;
  height: 53.7vw;
  
}

</style>