<template>
  <v-app id="app" v-resize="onResize">
    <o-system-admin-panel />
    <o-system-nav-drawer />
    <o-system-app-bar />

    <v-main>
      <v-container
        class="d-flex align-start fill-height"
        :justify-center="screen < 750"
        fluid
        v-bind:style="{ backgroundImage: 'url(' + backgroundURL + ')' }"
      >
        <!-- <v-btn @click="popup()">POPUP</v-btn> -->

        <router-view></router-view>
      </v-container>
    </v-main>

    <o-system-popup />
    <o-system-commentary-button />
    <o-system-notif-area />
    <o-system-scroll-up />
    <o-system-footer />
  </v-app>
</template>


<script>
import Vue from "vue";
import GLOBAL from "./GLOBAL.js";

import OSystemNavDrawer from "./components/OSystemNavDrawer.vue";
import OSystemAppBar from "./components/OSystemAppBar.vue";
import OSystemAdminPanel from "./adminPanel/OSystemAdminPanel.vue";
import OSystemNotifArea from "./components/OSystemNotifArea.vue";
import OSystemCommentaryButton from "./components/OSystemCommentaryButton.vue";
import OSystemFooter from "./components/OSystemFooter.vue";
import OSystemScrollUp from "./components/OSystemScrollUp.vue";
import OSystemPopup from "./components/OSystemPopup.vue";

export default {
  name: "App",

  components: {
    OSystemAppBar,
    OSystemNotifArea,
    OSystemFooter,
    OSystemCommentaryButton,
    OSystemNavDrawer,
    OSystemAdminPanel,
    OSystemScrollUp,
    OSystemPopup,
  },

  created() {
    Vue.prototype.$app = this;
    for (let i in GLOBAL) {
      Vue.prototype.$app[i] = GLOBAL[i];
    }
    GLOBAL.API.discord.headers.redirectUrl = `${window.location.origin}/auth`;
  },

  mounted() {
    //Verifier esl donéne utilisateurs stocké dans els cookie
    let user = this.$cookies.get("user");
    if (!user) return;
    if (user.username) this.setUser(user);
  },

  data() {
    return {
      navDrawer: false,
      country: "fr",
      screen: 900,
      scroll: 1,
      user: null,

      popupState: false,
      popupValue: {},

      MODULES: GLOBAL.MODULES,

      //TODO uglu ugly variable pour l'utilisateur (et centraliser sur globalisé)
      USERusername: undefined,
      USERdiscriminator: undefined,
      USERemail: undefined,
      USERavatarURL: undefined,

      DISCORD: GLOBAL.API.discord,
      appTitle: GLOBAL.THEME.appTitle,
      logoURL: GLOBAL.THEME.logoURL,
      backgroundURL: GLOBAL.THEME.backgroundURL,
      reseauxSocio: GLOBAL.THEME.reseauxSocio,

      discordUrlOAuth: `https://discord.com/api/oauth2/authorize?client_id=716968666821820497&redirect_uri=${
        window.location.origin
      }/auth&response_type=code&scope=${GLOBAL.API.discord.headers.scope.join(
        " "
      )}`,

      notifications: [
        {
          title: "Ceci est une beta",
          message:
            "deso, ya pas grand chose qui foncitonne, surtout au niveau des requetes. Masi l'esthétique est là !!!",
          type: "info",
          timer: 5,
          order: 1,
        },
      ],
    };
  },

  computed: {
    navbar() {
      let result = {};
      for (let i in this.PAGES) {
        if (this.PAGES[i].navBar) result[i] = this.PAGES[i];
      }
      return result;
    },
  },
  methods: {
    onResize() {
      //TODO realisable en CSS
      this.screen = window.innerWidth;
    },

    logoutUser() {
      this.USER = undefined;
    },

    /**
     * Diffuse une notification a l'ecran et doit contenir un object avec {title, message, timer, type}
     * @param {string} event.title Titre de la notification 
     * @param {string} event.message Message qui se deploit si on clic sur la notif 
     * @param {string} event.type  Type de notification. Définira sa couleur et l'icone (warning | info | success | error)
     * @param {int} event.timer durée d'apparition de la notification 
     */
    notif(event) {
      if (typeof event == "string")
        event = { title: event, type: "success", timer: 5 };
      event.order = this.notifications.length + 1;
      this.notifications.push(event);
    },

    WIP() {
      this.notif({
        title: "Cette commande est en cours de construction",
        type: "warning",
        timer: 5,
      });
    },

    multiLangage : GLOBAL.multiLangage,
    
    async webHook(
      name,
      content,
      errorNotifTitle = "Il ya eu une erreur",
      sucessNotifTitle = undefined
    ) {
      try {
        await this.WEBHOOKS[name].sendMessage(content);
      } catch (e) {
        this.notif({
          title: errorNotifTitle,
          message: e,
          type: "error",
          timer: 10,
        });
        return false;
      }
      if (sucessNotifTitle) {
        if (typeof sucessNotifTitle == "string")
          this.notif({ title: sucessNotifTitle, type: "success", timer: 10 });
        if (typeof sucessNotifTitle == "object") this.notif(sucessNotifTitle);
      }
      return true;
    },

    async getUser() {
      //TODO limiter els donéne personnel et preferer le raffaraichissement de token
      let headers = {
        Authorization:
          this.API.discord.authorization_code.token_type +
          " " +
          this.API.discord.authorization_code.access_token,
      };

      let user = await this.API.discord.get("users/@me", headers);

      if (!user.username) {
        this.USER = undefined;
        this.USERusername = undefined;
        this.USERdiscriminator = undefined;
        this.USERemail = undefined;
        this.USERavatarURL = undefined;
        return undefined;
      }

      this.$cookies.set("user", user);
      return user;
    },
    /**
     * Fait surgir un popup
     */
    async popup(
      value = {
        title: "TITRE",
        content: "CONTENT",
        buttons: [
          {
            text: "Oui",
            color: "secondary",
            class: "",
            func: () => {
              console.log("Popup clické sur OUI");
            },
          },
          {
            text: "Non",
            color: "",
            class: "",
            func: () => {
              console.log("Popup clické sur NON");
            },
          },
        ],
      }
    ) {
      //On arrange els function fournit au niveau de BUTTONS pour qu'elles changent le statu de popupState sur false et qu'elle renvoit quelqeu chose
      //TODO peut etre le faire au niveau du composant directement
      for (let i in value.buttons) {
        let button = value.buttons[i];
        button.func = async () => {
          try {
            await value.buttons[i].func();
            console.log("Popup clické sur OUI");

            this.$app.popupState = false;
            // this.$app.popupValue = undefined;
            return true;
          } catch (err) {
            return err;
          }
        };
      }

      this.popupState = true;
      this.popupValue = value;
    },

    //repartir les données dans le cas d'un utilisateur discord
    setUser(user) {
      this.USER = user;

      this.USERusername = user.username;
      this.USERdiscriminator = user.discriminator;
      this.USERemail = user.email;
      this.USERavatarURL = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.jpeg`;

      //easter egg : la vie c'est comme une boite de chocolat (177818663263404032)
      if (user.id == "177818663263404032")
        // if (user.id == "306395745693597697")
        this.popup({
          title: `Bienvenus ${user.username}`,
          content: "",
          background:
            "https://lh3.googleusercontent.com/proxy/J4Byng7aFw7uLizNpAcAULWzOW1kWswA_m4RkPPa_nH-pOza0nLrK8np1iXvH69RbB3vV7Bg3cToZfyBXaYpSkSxDKhKsvdPG33Gp1-Y9SxfOy2U",
        });

      return {
        username: this.USERusername,
        discriminator: this.USERdiscriminator,
        email: this.USERemail,
        avatarURL: this.USERavatarURL,
      };
    },
  },

  watch: {
    $route(to) {
      // react to route changes...
      console.log(`Router: "${to.fullPath}"`);
    },
    // $click(event) {
    //   console.log("Recuperation d'un click", event);
    // },
  },
};
</script>

<style>
/* pour le selement genraux pk pas une simple feuille de style */
.forXtransition {
  text-justify: none;
  overflow: hidden;
  height: 1.5em;
  vertical-align: middle;
  display: inline-block;
}

.container {
  background: no-repeat center center fixed;

  /* backgroundURL "https://athena.smrtt.online/medias/pictures/back.png";*/
  background-size: cover;
  padding: 0.5em;
}
/* Class pour tout element clickable qui n'ont pa s demodification de cursor */
.clickable {
  cursor: pointer;
}

/* Class pour les icon dédié aux aciton sur les données */
.buttonDelete:hover {
  color: #ff5252 !important;
  transform: scale(1.2) translate(0em, -0.2em) rotate(10deg);
}

.buttonSave:hover {
  color: #4caf50 !important;
  transform: scale(1.2) translate(0em, -0.2em) rotate(10deg);
}

.buttonEdit:hover {
  color: yellow !important;
  transform: scale(1.2) translate(0em, -0.2em) rotate(10deg);
}
</style>